/* Ionic Variables and Theming. */
/* This is just a placeholder file For more info, please see: */
/* https://ionicframework.com/docs/theming/basics */

/* To quickly generate your own theme, check out the color generator */
/* https://ionicframework.com/docs/theming/color-generator */

:root {
	--ion-background-color: #ebecf0;
	--ion-background-color-rgb: 235,236,240;

	--ion-text-color: #121212;
	--ion-text-color-rgb: 18,18,18;

	--ion-color-step-50: #e0e1e5;
	--ion-color-step-100: #d5d6da;
	--ion-color-step-150: #cacbcf;
	--ion-color-step-200: #c0c0c4;
	--ion-color-step-250: #b5b6b9;
	--ion-color-step-300: #aaabad;
	--ion-color-step-350: #9fa0a2;
	--ion-color-step-400: #949597;
	--ion-color-step-450: #898a8c;
	--ion-color-step-500: #7f7f81;
	--ion-color-step-550: #747476;
	--ion-color-step-600: #69696b;
	--ion-color-step-650: #5e5e60;
	--ion-color-step-700: #535355;
	--ion-color-step-750: #48494a;
	--ion-color-step-800: #3d3e3e;
	--ion-color-step-850: #333333;
	--ion-color-step-900: #282828;
	--ion-color-step-950: #1d1d1d;
}
